.box {
    display: flex;
    gap: 8px;
    color: var(--gray-100);
    background-color: var(--blue-dark);
    padding: 1rem;
    border-radius: var(--border-radius);
    align-items: center;
    font-size: var(--text-md);
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.box:hover {
    background-color: var(--blue);
}

.icon {
    font-size: 0;
    line-height: 0;
}