.lightTheme.box:hover {
    background-color: var(--gray-100);
}

.darkTheme.box:hover {
    background-color: var(--gray-400);
}


.box {
    display: inline-flex;
    padding: 10px;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}

.icon {
    color: var(--gray-300)
}

.box:hover .icon {
    color: var(--danger)
}