.lightTheme.newTaskContainer {
    background-color: var(--gray-200);
    border-color: var(--gray-200);
} .lightTheme.textWrapper p {
    color: var(--gray-500);
}

.darkTheme.newTaskContainer {
    background-color: var(--gray-500);
    border-color: var(--gray-400);
} .darkTheme.textWrapper p {
    color: var(--gray-200);
} .darkTheme.textWrapperChecked p {
    color: var(--gray-300);
}


.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    list-style: none;
}

.newTaskContainer {
    display: flex;
    gap: 12px;
    padding: 16px;
    align-items: flex-start;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid; 
}

.textWrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
}

.textWrapperChecked {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
}

.textWrapperChecked p {
    margin: 0;
    font-size: var(--text-md);
    text-decoration: line-through;
}

.textWrapper p {
    margin: 0;
    font-size: var(--text-md);
}

.newTaskRemoveIcon {
    color: var(--gray-300);
}


.noTasksContainer {
    display: flex;
    flex-direction: column;
    padding: 64px 24px;
    border-radius: 8px;
    border-top: 1px solid var(--gray-400);
    font-size: var(--text-lg);
}

.noTasksIcon {
    color: var(--gray-300);
    margin-bottom: 16px;
}

.mainText {
    color: var(--gray-300);
    margin: 0;
    font-weight: bold;
}

.secondaryText {
    color: var(--gray-300);
    margin: 0;
}